name: Build and Deploy to AKS / App Service

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login (OIDC)
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Login to ACR
      run: |
        az acr login --name ${{ secrets.ACR_NAME }}

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/flaskapp:latest .

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.ACR_NAME }}.azurecr.io/flaskapp:latest

    # ---- AKS DEPLOYMENT ----
    - name: Get AKS Credentials
      run: |
        az aks get-credentials \
          --resource-group github-azure-rg \
          --name my-aks-cluster \
          --overwrite-existing

    - name: Deploy to AKS
      run: |
        kubectl apply -f k8s/


    - name: Deploy to AKS
      run: |
        kubectl apply -f pv.yaml
        kubectl apply -f pvc.yaml
        kubectl apply -f deployment.yaml
        kubectl apply -f service.yaml
